footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1E1E1E;
    color: #fff;
    border-top: 1px solid #ddd;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .logo img {
    height: 50px;
  }
  
  .legal-links a {
    color: #a08048;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
  .legal-links a:hover {
    color: #fff;
  }
  