.splash-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
  }
  
  .splash-text {
    color: #a08048;
    font-size: 48px;
    font-weight: bold;
  }