<ng-container>
  <div class="login-side">
    <img src="assets/img/cinema.jpg" alt="background" class="background">
    <div class="login-container">
      <div class="login-content">
        <div>
          <h1>Log in</h1>
          <hr>
        </div>

        <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
          <div class="input-wrapper">
            <input type="email" id="email" formControlName="email" class="form-control" placeholder="E-Mail-Adresse" autocomplete="off">
          </div>
          <div class="input-wrapper">
            <input type="password" id="password" formControlName="password" class="form-control" placeholder="Passwort" autocomplete="off">
          </div>

          <!-- Fehlermeldung hinzufügen -->
          <div *ngIf="loginError" class="error-message">
            <span>{{ loginError }}</span>
          </div>

          <div class="button-container">
            <div class="login-area">
              <button type="submit" [disabled]="signInForm.invalid">Log in</button>
            </div>
          </div>
        </form>
        <div class="forgot-pw">
          <a>Forgot Password?</a>
          <a class='btn' routerLink="/forgott-password">click here</a>
        </div>
        <div class="signup-container">
          <div>
            <span>New to Videoflix?</span>
          </div>
          <div>
            <a routerLink="/signup"class="primary-button">Sign up here</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<!-- Erfolgsmeldung nach Registrierung -->
<div *ngIf="registrationSuccessMessage" class="success-message">
  {{ registrationSuccessMessage }}
</div>
