<div class="reset-password-container">
  <img src="assets/img/cinema.jpg" alt="background" class="background">
  <button class="back-button" (click)="goBack()">
    <img src="assets/img/back_arrow.svg" alt="Back" />
  </button>
  <div class="reset-password-content">
    <h1>Passwort zurücksetzen</h1>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="input-wrapper">
        <input type="password" formControlName="password1" placeholder="Neues Passwort" class="form-control">
      </div>
      <div class="input-wrapper">
        <input type="password" formControlName="password2" placeholder="Passwort bestätigen" class="form-control">
      </div>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
      <div class="button-container">
        <button type="submit" [disabled]="resetPasswordForm.invalid">Passwort zurücksetzen</button>
      </div>
    </form>
  </div>
</div>
