.home-section {
  background-color: #1E1E1E;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  color: #fff; 
  height: 100%;
}

.category-title {
  font-size: 24px;
  text-align: left; 
}

h2 {
  color: #a08048;
  font-size: 28px;
  border-bottom: 2px solid #a08048;
  padding-bottom: 5px;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.video {
  margin: 10px;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  width: 250px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #2E2E2E; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 150px; 
  cursor: pointer;
}

.video:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  height: auto; 
}

.video-thumbnail {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-bottom: 2px solid #a08048; 
  transition: transform 0.3s ease;
}

.video-info {
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 10px;
  box-sizing: border-box;
  color: #ccc; 
  height: 0; 
  overflow: hidden; 
}

.video:hover .video-info {
  opacity: 1;
  height: auto; 
}

.video-info h3 {
  font-size: 18px;
  margin: 5px 0;
  color: #fff;
}

.video-info p {
  font-size: 14px;
  color: #bbb; 
}

.video:hover .video-info {
  opacity: 1;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
  filter: brightness(0.3);
}
