<ng-container>
  <div class="login-side">
    <img src="assets/img/cinema.jpg" alt="background" class="background">
    <button class="back-button" (click)="goBack()">
      <img src="assets/img/back_arrow.svg" alt="Back" />
    </button>
    <div class="login-container">
      <div class="login-content">
        <div>
          <h1>Passwort zurücksetzen</h1>
          <hr>
        </div>

        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <div class="input-wrapper">
            <input type="email" id="email" formControlName="email" class="form-control" placeholder="E-Mail-Adresse" autocomplete="off">
          </div>

          <!-- Erfolgsmeldung -->
          <div *ngIf="successMessage" class="success-message">
            <span>{{ successMessage }}</span>
          </div>

          <!-- Fehlermeldung hinzufügen -->
          <div *ngIf="errorMessage" class="error-message">
            <span>{{ errorMessage }}</span>
          </div>

          <div class="button-container">
            <div class="login-area">
              <button type="submit">Link zum Zurücksetzen senden</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="legal-links">
    <div class="privacy">
      <a routerLink="/privacypolicy">Datenschutzrichtlinie</a>
    </div>
    <div class="imprint">
      <a routerLink="/legalnotice">Impressum</a>
    </div>
  </div>
</ng-container>
